doctype html
html
    head
        title #{appName} | Verificación de Email
    body
        h2 #{appName}
        h1 Verificación de Email
        h2
            | Haga clíc en este
            a(href="#{link}")  enlace
            |  para verificar su correo electronico